# Site settings
title: wiki title
url: "https://.........."
baseurl: ""
description: >
    wiki description

# My information
email:
author:
profile:
twitter_username:
github_username:
comment-support:

# Build settings
plugins:
  - jekyll-gist

markdown: kramdown
highlighter: rouge
kramdown:
  input: GFM
  syntax_highlighter: rouge

# Collections
collections:
    wiki:
        output: true
        permalink: /:collection/:path/

# Comment Service
disqus:
  id:
  shortname:
utterances:
  repo:
  issue-term:
  label:
  branch:

google_analytics:
  ua:
google_adsense:
  client:

blame:
edit:
issue:

timezone: "Asia/Seoul"
