<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% assign meta_title = site.title %}
{% if page.title and page.title != "" %}
    {% assign meta_title = page.title | append: " - " | append: site.title %}
{% endif %}
{% assign meta_description = page.summary | default: site.description %}
{% assign meta_image = page.og_image | default: site.og_image | default: "/resource/currenjin.png" %}
{% if meta_image contains 'http://' or meta_image contains 'https://' %}
    {% assign meta_image_url = meta_image %}
{% else %}
    {% assign meta_image_url = meta_image | prepend: site.baseurl | prepend: site.url %}
{% endif %}

    <title>{{ page.seo_title | default: meta_title }}</title>

    <meta name="description" content="{{ meta_description }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ page.og_title | default: meta_title }}">
    <meta property="og:description" content="{{ page.og_description | default: meta_description }}">
    <meta property="og:image" content="{{ meta_image_url }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
    <meta name="twitter:title" content="{{ page.og_title | default: meta_title }}" />
    <meta name="twitter:description" content="{{ page.og_description | default: meta_description }}" />
    <meta name="twitter:image" content="{{ meta_image_url }}" />

    <link rel="icon" type="image/svg+xml" href="{{ "/resource/icon/favicon.svg" | prepend: site.baseurl }}">
    <link rel="alternate icon" type="image/x-icon" href="{{ "/resource/icon/favicon.ico" | prepend: site.baseurl }}">

{% if site.google_analytics.ua %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics.ua }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ site.google_analytics.ua }}');
    </script>
{% endif %}
{% if site.google_adsense.client and page.adsense == true %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "{{ site.google_adsense.client }}",
        enable_page_level_ads: true
      });
    </script>
{% endif %}
</head>
