<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <meta name="theme-color" content="#f2ebdf">
  {% include theme-boot.html %}
  {% include seo-meta.html %}
  <link rel="stylesheet" href="{{ '/css/main.css?v=20261006-1' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/css/disclosure.css?v=20261006-1' | prepend: site.baseurl }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl }}">
  <link rel="icon" type="image/svg+xml" href="{{ '/resource/icon/favicon.svg' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/resource/icon/apple-icon-180x180.png' | prepend: site.baseurl }}">
  <script defer src="{{ '/js/theme.js?v=20261001-1' | prepend: site.baseurl }}"></script>
  <script defer src="{{ '/js/focus-trap.js?v=20260926-1' | prepend: site.baseurl }}"></script>
  <script defer src="{{ '/js/ledger.js?v=20261001-3' | prepend: site.baseurl }}"></script>
  <script defer src="{{ '/js/code-copy.js' | prepend: site.baseurl }}"></script>
  <script defer src="{{ '/js/heading-anchor.js' | prepend: site.baseurl }}"></script>
  <script defer src="{{ '/js/lazy-images.js' | prepend: site.baseurl }}"></script>
  {% if site.google_analytics.ua %}<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics.ua }}"></script><script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments)}gtag('js',new Date());gtag('config','{{ site.google_analytics.ua }}');</script>{% endif %}
</head>
