<header class="header">
    <div>
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>
    <div>
        <a class="site-title-right" href="https://docs.google.com/document/d/1dokB9vn3sFZtjfOz0RAF-0QL1evdOdDEgXo9GQ5Amsk/edit?tab=t.0" target="_blank" rel="noopener noreferrer">me</a>
    </div>
    <div>
        <a id="random-button" class="site-title-right" href="/wiki/index/#random" onclick="if(typeof random === 'function')random()">random</a>
    </div>
    <div>
        <a class="site-title-right" href="/wiki/index/">wiki</a>
    </div>
</header>
<script defer src="/js/site-header-shortcut.js"></script>
